<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3 class="text-primary">
    Welcome to contact app!
  </h3>
</div>
<h5 class="text-primary">Here are some opeartions you can perform </h5>
<ul>
  <li>
    <h5><a class="nav-link" routerLink="app2/add">Add New Contact</a></h5>
  </li>
  <li>
    <h5><a class="nav-link" routerLink="app2/read">View All Contacts</a></h5>
  </li>
  <li>
    <h5><a class="nav-link" routerLink="app2/update">Update a contact</a></h5>
  </li>
  <li>
    <h5> <a class="nav-link" routerLink="app2/delete">Delete a contact</a></h5>
  </li>
</ul>


<router-outlet></router-outlet>